.custom-scrollbar::-webkit-scrollbar {
  width: 20px;
}

/* Personaliza el track (fondo de la barra de desplazamiento) */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Personaliza el thumb (la parte de la barra que se mueve) */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

/* Cambia el color del thumb cuando está en hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
